[submodule "ecommerce-store"]
	path = ecommerce-store
	url = https://github.com/koniz-dev/ecommerce-store.git
[submodule "ecommerce-admin"]
	path = ecommerce-admin
	url = https://github.com/koniz-dev/ecommerce-admin.git
[submodule "multi-tenant-ecommerce"]
	path = multi-tenant-ecommerce
	url = https://github.com/koniz-dev/multi-tenant-ecommerce.git
